<?xml version="1.0"?>
<!--Launch file for dark-star with ros_copter
    @author tyler miller
    @since 2017-06-07 -->

<launch>
  <arg name="mav_name"            default="dark-star"/>

  <!-- Start rosflight -->
 <node pkg="rosflight" type="rosflight_io" name="rosflight" output="screen">
    <param name="port" value="/dev/naze"/>
    <param name="baud" value="921600"/>
  </node>

  <!-- Controller -->
  <!-- Is Flying Publisher -->
  <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>

  <group ns="/ekf">
    <rosparam command="load" file="$(find ros_copter)/params/estimator.yaml"/>
  </group>
  <node pkg="ros_copter" type="ekf" name="ekf" output="screen">
    <remap from="estimate" to="ground_truth/odometry"/>
  </node>

  <!-- PID Position Controller -->
  <rosparam command="load" file="$(find thor_copter)/params/mikey.yaml" ns="controller"/>
  <node name="controller" pkg="ros_copter" type="controller" output="screen">
    <remap from="estimate" to="ground_truth/odometry"/>
  </node>

  <!-- Waypoint Manager -->
  <node name="waypoint_manager" pkg="ros_copter" type="waypoint_manager.py" output="screen">
    <rosparam command="load" file="$(find ros_copter)/params/waypoints.yaml"/>
    <remap from="waypoint" to="high_level_command"/>
    <remap from="state" to="ground_truth/odometry"/>
  </node>

</launch>
